.gallery{
        width: 100%;
        height: 100%;
      }
      img
      {
        -webkit-transition: all 0.5% ease;
      }
      img:hover
      {
        transform: scale(1.3);
      }
      
      h3
      {
        color: white;
        text-align: left;
        margin-top: 150px;
        font-size: 18px;
      }
      p
      {
        color: gold;
        text-align: center;
        font-size: 25px;
      }
      p:hover
      {
      border: 0.5px solid white;
      background-color: black;
      }