*

        body {
    background-image:url(vampirediaries.jpg);
    background-size: cover;
    background-position: top-right;
    text-align: center;
}

.navbar-brand img
      {
        width: 100px;
        height: 82px;
      }
      .jumbotron
      {
        text-align: center;
        font-size: 14px;
        margin-top: 100px;
      }

.nav-link
      {
        color: darkorange;
        text-decoration: none;
        padding: 0px;
        margin:0px;
        font-size: 18px;
        display: inline-block;
    padding: 0 1rem;
    margin-left: 0px;
    border-left: .1rem solid #e9e3e3;
    cursor: pointer;
      }
      .nav-link:hover
      {
      border: 1px solid white;
      background: #6a8c8c;
      }


.row{
    text-align: center;
    color: white
}
.row .col{
    text-align: center;
    width: 90%;
    display: inline;
}
.row .col img{
    width: 20%;
    display: inline;
    height: 400px;
}


.social{
    text-align: center;
    width: 10%;
    display: inline;
}
.social img{
    width: 3%;
    display: inline;
    height: auto;
}

.social h3{
    color: #ff0000;
}

footer{
   padding: 20px;
   margin-top: 20px;
  color: #ffffff;
  background-color: #660033;
    text-align: center;
}
